
@{
    ViewBag.Title = "DaGuiYeuCau";
    Layout = "~/Views/Shared/_LayoutKhachSan.cshtml";
}

<div style="text-align:center">
    <p style="line-height:50px; font-size:50px;">
        <span style="color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:14px">Your information has been submitted successfully. We will get back to you within 24 hours!&nbsp;</span>
    </p>
</div>

