
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutKhachSan.cshtml";
}


<section class="d-block">
    <div class="container-fluid p-0 position-relative">
        <div>
            <img class="w-100" src="~/Image/banner1.jpg" alt="Alternate Text" />
        </div>
        <div class="text-center text-white position-absolute w-100 top-50 start-50 translate-middle">
            <div class="mb-3">LỰA CHỌN TỐT NHẤT CHO THƯ GIÃN</div>
            <h1>ĐIỂM ĐẾN KỲ NGHỈ HOÀN HẢO</h1>
        </div>
    </div>
</section>

<section class="d-block">
    <div style="padding: 100px 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-5">
                        <h2 class="sec-title">TẬN HƯỞNG KỲ NGHỈ CỦA BẠN</h2>
                        <div class="sub-title">Giới thiệu về chúng tôi</div>
                    </div>
                    <h4 class="fw-bold mb-5">Robins Villa nằm ẩn dật giữa ba ngọn đồi ở thành phố Đà Lạt thuộc tỉnh Lâm Đồng.</h4>
                    <p class="mb-5">
                        Hãy thoát khỏi sự hối hả và rắc rối của thói quen hàng ngày và đến với Robins Villa,
                        nơi một thế giới thanh bình đang chờ đợi bạn. Hãy vứt bỏ mọi lo lắng và hòa mình vào
                        bầu không khí thư thái, thơ mộng và được nuông chiều và trẻ hóa. Hãy ngả lưng và tận
                        hưởng dòng suối lâu năm tuyệt đẹp vuốt ve cảnh quan giữa các biệt thự, nhà tranh và lều
                        trại và để mình được đưa đến một thiên đường được bao quanh bởi những ngọn đồi.
                    </p>

                    <div class="d-flex align-items-center mb-5">
                        <div class="icon-box">
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="fw-semibold">
                            Sự hài lòng của khách hàng luôn ở mức cao kể từ năm 2012
                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="icon-box">
                            <i class="fa-solid fa-award"></i>
                        </div>
                        <div class="fw-semibold">
                            Khách sạn thuộc xếp hạng hàng đầu ở Đà Lạt, Việt Nam
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <img class="w-100 h-100" style="object-fit:cover" src="~/Image/aboutus01.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="d-block" style="background-color: #FBF6F2">
    <div style="padding: 100px 0">
        <div class="container">
            <div class="d-flex">
                <div class="w-50">
                    <div class="mb-5">
                        <h2 class="sec-title">NHỮNG NƠI GẦN ĐÂY</h2>
                        <div class="sub-title">KHÁM PHÁ ĐỊA ĐIỂM TUYỆT VỜI VÀ ĐẸP</div>
                    </div>
                    <div class="fs-5 lh-2 pe-5">
                        Có rất nhiều địa điểm thú vị để tham quan ở Đà Lạt. Toàn bộ khu vực là một thiên
                        đường du lịch. Và khách sạn của chúng tôi đóng vai trò là cửa ngõ dẫn đến tất cả những
                        điểm nóng thú vị này.
                    </div>

                </div>
                <div class="w-50">
                    <div class="h-100">
                        <img class="w-100" src="https://ik.imagekit.io/tvlk/blog/2023/01/canh-dep-da-lat-1.jpg?tr=dpr-2,w-675" alt="" style="object-fit:inherit;" />
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <div class="w-50">
                    <div class="w-100 h-100">
                        <img class="w-100" src="~/Image/camnhi-da-lat.jpg" alt="" style="object-fit:cover" />
                    </div>
                </div>
                <div class="w-50">
                    <div class="d-flex mt-4">
                        <div class="w-50" style="padding-left:70px">
                            <img class="w-100 h-100" src="~/Image/tuong-da.jpg" alt="" style="object-fit:cover" />
                        </div>
                        <div class="w-50">
                            <img class="w-100" src="~/Image/cay-co-don.jpg" alt="" style="object-fit: cover; transform: translateY(-150px);" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="w-50">
                            <img class="w-100" src="~/Image/nha-tho.jpg" alt="" style="object-fit:cover" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




